# ===== Dependencies =====
**/node_modules
**/dist

# ===== Logs =====
*.log
logs/

# ===== Coverage =====
coverage/
.nyc_output/

# ===== Angular cache =====
.angular/

# ===== IDE =====
.idea/
.vscode/

# ===== Temp =====
tmp/
temp/
*.tmp

# ===== Environment =====
.env
.env.local

# ===== OS =====
.DS_Store
Thumbs.db
