# Environment
.env

# Virtual environment
venv/
.env/

# Python cache
__pycache__/
*.pyc
*.pyo

# Vector DB
chroma_db/

# Build
*.egg-info/
dist/
build/
*.egg

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db
